/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.main-page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-primary);
  font-variation-settings: "wght" var(--font-weight-normal);
  font-size: var(--font-size-base);
  max-inline-size: 700px;
  background-size: cover;
  background-image: var(--background-pattern);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
  background-color: var(--color-background);
  border: 2px solid var(--color-accent);
  line-height: 100%;
  padding: 128px 121px;
  margin-top: 102px;
  margin-bottom: 102px;
}

.header-logo-text {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
  padding: 25px 0;
  position: relative;
  text-align: center;
}

.header-site-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-wrap: nowrap;
}

main {
  display: flex;
  gap: var(--spacing-card-gap);
  background-color: var(--color-background);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
  outline: 2px solid var(--color-accent);
}

.card-image-wrapper {
  position: relative;
  background-color: grey;
}

.first-pic {
  filter: saturate(35%) contrast(85%) brightness(90%) sepia(30%) hue-rotate(-10deg) grayscale(15%);
}

.second-pic {
  filter: brightness(108%) contrast(95%) saturate(362%) hue-rotate(360deg);
}

.seventh-pic {
  filter: blur(2px) brightness(96%) hue-rotate(98deg) saturate(141%) contrast(55%);
}

.sixth-pic {
  filter: blur(15px);
}

.fifth-pic {
  filter: sepia(100%);
}

.fourth-pic {
  filter: invert(76%);
}

.third-pic {
  filter: hue-rotate(31deg) saturate(128%) contrast(107%);
}

.card-main-title {
  padding: 3px 10px;
  font-weight: var(--font-weight-bold);
}

.section-card-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
  position: relative;
  z-index: 0;
}

.card-image-label {
  position: absolute;
  font-family: var(--font-secondary);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: var(--shadow-text);
  opacity: 0.5;
  z-index: 1;
  color: white;
}

.card-content-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

@supports ((text-stroke: 1px var(--color-stroke)) or (-webkit-text-stroke: 1px var(--color-stroke))) {
  .card-image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-stroke);
    text-stroke: 1px var(--color-stroke);
  }
}

.button-wrapper {
  display: flex;
  align-self: end;
  gap: 12px;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  background: none;
  transition: outline 0.3s ease;
  padding: 0px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-accent);
}

.animated-btn {
  border: 2px solid var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  color: var(--color-background);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  background-color: var(--color-background);
}

.animated-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-accent);
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}

.animated-btn:hover::before {
  translate: 0%;
}

.animated-btn:focus {
  outline: none;
}

.animated-btn:focus-visible {
  box-shadow: 2px 2px var(--color-accent);
}

.button__text {
  font-size: var(--font-size-small);
  font-family: var(--font-secondary);
  mix-blend-mode: difference;
  z-index: 1;
  position: relative;
}

.floppy-svg-icon {
  mix-blend-mode: difference;
  fill: white;
  inline-size: 21px;
  block-size: 21px;
  z-index: 1;
} 

.dialog-floppy-svg {
  fill: white;
  color: #fff;
  background-color: transparent;
  mix-blend-mode: difference;
  inline-size: 39px;
  block-size: 39px;
}

.dialog-open-btn {
  width: 335px;
  height: 55px;
  gap: 8px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  z-index: 0;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal-dialog {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  line-height: 1.5;
  color: var(--color-accent);
  padding-inline: 30px;
  padding-block: 30px;
  font-size: var(--font-size-small);
  background-color: var(--color-background);
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog-item-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.dialog-message {
  max-inline-size: 234px;
}

.dialog-ok-btn button {
  inline-size: 100%;
}

.ok-btn {
  padding: 11px 0;
}

@media (width <= 375px) {
  .site-header {
    margin-top: 100px;
    margin-bottom: 102px;
    padding: 120px 14px;
  }

  .dialog-open-btn {
    width: 306px;
    height: 84px;
    flex-direction: column;
  }

  .floppy-svg-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .modal-dialog {
    padding: 32px 40px;
  }

  .card-image-label {
    top: 25px;
    right: 11px;
  }
  
  .dialog-message {
    max-inline-size: 198px;
  }
}